.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-left: 20px;
}

.post {
    width: 80%;
    background-color: #f5f5f5;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.post-form textarea {
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: vertical;
}

.post-form button {
    align-self: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post-form button:hover {
    background-color: #0056b3;
}


.post-actions {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the space between the like button and the like count */
  }
  
  button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    /* Add more button styling if needed */
  }
  
  button:hover {
    background-color: #0056b3;
  }